<div class=" menu-sidebar-content js-scrollbar1" >
    
        <h3 class="mb-4 blink">🎃 Columna Embrujada 🎃</h3>
        <div class="mb-3">
            <form (ngSubmit)="onSubmit()">
                <label for="inputTexto"  class="form-label">Inser the scape code</label>
                <input type="text" name="secretInput" class="form-control" [(ngModel)]="scapeCode"  >
                <button type="submit" class="btn btn-halloween">Conjurar</button>
            </form>
        </div>
        
    
   
</div>