<div class=" menu-sidebar-content js-scrollbar1 navbar-green   fixed-div" >
    
        <h2 class="mb-4 blink text-center">🎃 Scape code 🎃</h2>
        <div class="mb-3">
            <form (ngSubmit)="onSubmit()">
                <label for="inputTexto"  class="form-label ">Inser the scape code</label>
                <input type="text" name="secretInput" class="form-control" [(ngModel)]="scapeCode"  >
                <button type="submit" class="btn btn-halloween col-12 mt-2">Conjurar</button>
            </form>
        </div>
        
    
   
</div>